 <!-- ======= Footer ======= -->
 <footer id="footer">

    <div class="footer-newsletter" id="footer-newsletter" >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-1 col-md-1 col-sm-2 row">
            <img  width="80px" height="80px" src="../static/img/footer_icon/demacia_logo.png" alt="">
            <h4 >Demacia</h4>
      
            <!-- <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p> -->
            <!-- <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form> -->
          </div>
        </div>
        <br>
        <div class="row justify-content-center" style="margin-bottom: 10px;">
          <div class="col-lg-6 row">
            <a class="col-md-3" href="#"><h7 >공지사항</h7></a>
            <a class="col-md-3" href="#"><h7 >이용약관</h7></a>
            <!-- <h7 class="col-md-2">회사소개</h7> -->
            <a class="col-md-3" href="#"><h7 >서비스 소개</h7></a>
            <a class="col-md-3" href="#"><h7 >Q&A</h7></a>
          </div>
        </div>
        <br>
        <div class='row justify-content-center' style="margin-bottom: 10px;">
          <h8 class="col-lg-6 col-md-6">이 편지는 영국에서 최초로 시작되어 일년에 한 바퀴 돌면서 받는 사람에게 행운을 주었고 
            지금은 당신에게로 옮겨진 이 편지는 당신에게 행운을 줄겁니다. 당신은 이 행운으로 
            행운이 필요한 사람에게 로또를 주셔야 합니다. 복사를 해도 좋습니다. 
            혹 미신이라 하실지 모르지만 사실입니다. 한국에서 이양로라는 사람은 2020년에 이 편지를 받았습니다. 
            
          </h8>
        </div>
      </div>
    </div>

    <div class="footer-top" id ="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Demacia<span>.</span></h3>
            <p>
              전라북도 <br>
              전주시 덕진구 우아동2가<br>
              진버들5길 10<br><br>
              <strong>Phone:</strong> 010-0000-0000<br>
              <strong>Email:</strong> Demacia@demacia.co.kr<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/traffic_volume_research">교통정보</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/video_analysis">분석의뢰</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/request_list">요청리스트</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="/mypage">마이페이지</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/logout">로그아웃</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="login/">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">영상 방향별 교통량 분석</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">CCTV 기반 교통량 분석</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">영상 교통량 분석</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Team Demacia</h4>
            <p>이양로 정종우 최재호 김성준 이준용</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>BizLand</span></strong>. All Rights Reserved
      </div>
      <div class="credits"> -->
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div> -->
  </footer><!-- End Footer -->



    <!-- Vendor JS Files -->
    {% comment %} <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../static/assets/vendor/counterup/counterup.min.js"></script>
    <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script> {% endcomment %}
  
    <!-- Template Main JS File -->
    {% comment %} <script src="../static/assets/js/main.js"></script> {% endcomment %}